/Source/XSISDK/
/XSIZETools_src/
/Source/XSIZETools_CppHelpers/.vs/
/Source/XSIZETools_CppHelpers/x64/
/Source/XSIZETools_CppHelpers/Debug/
/Source/XSIZETools_CppHelpers/Release/


*.sdf
*.user
*.opendb
*.exp
*.ilk
*.lib
*.pdb